@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --text-primary: #00c894;
  --text-secondary: #f1faee;
  --text-hover: #07a379;
  --background: #1d3557;

  --medium: 600;
  --bold: 700;
  --huge: 900;
}

* {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #c7c8c7;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  line-height: 1.4;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
  border: none;
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-huge {
  font-weight: var(--huge);
}

.text-bold {
  font-weight: var(--bold);
}

.text-medium {
  font-weight: var(--medium);
}

.info-text {
  width: 53vw;
}

.list {
  margin-top: 0.5rem;
}

.list li {
  float: left;
}

ul.bullet-list {
  margin-left: 5rem;
}

ul.bullet-list li {
  margin-bottom: 0.75rem;
  line-height: 2.5rem;
}

ul.bullet-list li::before {
  content: "►";
  color: var(--text-primary);
  margin-right: 1rem;
}

ul.bullet-list li:first-child {
  margin-top: 1.5rem;
}

ul.float-left li {
  margin-right: 1rem;
}

ul.float-right li {
  margin-left: 1rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-link:hover {
  color: var(--text-hover);
}

/* Navbar */
#navbar {
  display: flex;
  top: 0;
  background: #1e3960;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 1.5rem 5rem;
}

#navbar h1 {
  font-size: 2.3rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  font-weight: var(--bold);
  color: var(--text-secondary);
  padding: 0.75rem;
  margin: 0 0.75rem;
}

#navbar ul li a:hover {
  color: var(--text-primary);
  transition: color 100ms ease-in;
}

/* Hero */
#hero .hero-content {
  width: 60%;
  margin: 10rem auto 0 auto;
  height: 70vh;
}

#hero h1#hero-name {
  font-size: 5rem;
  font-weight: var(--medium);
}

#hero p#hero-text {
  margin-top: 20px;
  margin-bottom: 70px;
}

#hero a#hero-link {
  font-size: 2.1875rem;
  font-weight: var(--medium);
  color: white;
  padding: 0.75rem 2rem;
  background-color: var(--text-primary);
  border-radius: 15px;
}

/* Sidebar Links */
.sidebar-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  right: 50px;
}

.sidebar-links .side-link {
  margin: 1.5rem 0;
}

.sidebar-links .side-link i {
  color: var(--text-secondary);
}

.sidebar-links .side-link i:hover {
  color: var(--text-primary);
}

.sidebar-links .vertical-divider {
  background-color: #fff;
  width: 1px;
  height: 80px;
}

.sidebar-links .mini-divider {
  background-color: #fff;
  width: 1px;
  height: 34px;
}

/* All Sections */
section {
  padding-top: 6rem;
}

.divider {
  background-color: var(--text-primary);
  width: 105px;
  height: 11px;
  border-radius: 50px;
}

.section-header {
  font-size: 3rem;
  font-weight: var(--medium);
  margin: 0.5rem 0 3rem 0;
}

/* Section: About Me */
#about .about-content {
  width: 60%;
  margin: auto;
  min-height: 100vh;
}

#about .about-content p.about-text {
  margin-top: 2rem;
}

#about .about-content .subtitle {
  font-size: 1.8rem;
  font-weight: var(--bold);
}

#about .about-content #skills-title {
  margin: 3rem 0 1rem 0;
}

#about .about-content p.skills-item {
  white-space: nowrap;
}

#about .about-content #hobbies-title {
  margin: 3rem 0 1rem 0;
}

#about .about-content #hobbies {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about .about-content #hobbies div#piano span,
#about .about-content #hobbies div#skiing span {
  margin: 0 0 1rem 1rem;
}

#about .about-content #hobbies div#games span,
#about .about-content #hobbies div#cooking span,
#about .about-content #hobbies div#weight-lifting span {
  margin-bottom: 1rem;
}

#about .about-content #hobbies div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Section: Projects */
#projects .projects-content {
  width: 60%;
  margin: auto;
  min-height: 100vh;
}

#projects .projects-content .project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects .projects-content .project-list .project-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

#projects .projects-content .project-list #ten-seconds-project {
  margin-bottom: 4rem;
}

#projects .project-list #project-image {
  width: 500px;
  height: 312px;
}

#projects .project-list #project-image:hover {
  filter: drop-shadow(0px 0px 5px var(--text-secondary));
}

#projects .project-list a#ten-seconds-link img {
  width: 241px;
  height: 453px;
}

#projects .project-list a#gulp-link,
#projects .project-list a#ten-seconds-link {
  margin-right: 2.5rem;
}

#projects .project-list a#contact-link {
  margin-left: 2.5rem;
}

#projects .project-list .project-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects .project-list .github-link i:hover {
  color: var(--text-primary);
  transform: scale(1.2);
  transition: transform 100ms ease;
}

#projects .project-list #gulp-project a.github-link,
#projects .project-list #ten-seconds-project a.github-link {
  margin-right: 2.5rem;
}

#projects .project-list #contact-project a.github-link {
  margin-left: 2.5rem;
}

/* Section: Experience */
#experience .experience-content {
  width: 60%;
  margin: auto;
  min-height: 100vh;
}

#experience .experience-list .experience-item {
  margin-bottom: 6rem;
}

/* #experience .experience-list .experience-item:last-child {
  margin-bottom: 9rem;
} */

#experience .experience-list .experience-item .experience-header {
  display: flex;
  align-items: center;
}

#experience .experience-list .experience-item #catana-image {
  width: 72px;
  height: 82px;
  margin-right: 0.5rem;
}

#experience .experience-list .experience-item #idtech-image {
  width: 80px;
  height: 80px;
  margin-right: 0.5rem;
}

#experience .experience-list .experience-item .experience-date {
  margin-left: 3rem;
  font-size: 1.5rem;
}

/* Section: Contact */
#contact .contact-content {
  width: 60%;
  margin: auto;
  min-height: 100vh;
}

#contact .contact-content #contact-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 3rem 2rem;
  border-radius: 10px;
  width: 90%;
  background-color: #efefef;
}

#contact #contact-form label {
  color: #333;
}

#contact #contact-form input,
#contact #contact-form textarea {
  color: black;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#contact #contact-form textarea {
  min-width: 100%;
  max-width: 100%;
}

#contact #contact-form button[type="submit"] {
  color: #333;
  width: 50%;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  margin: auto;
}

#contact #contact-form button[type="submit"]:hover {
  background-color: var(--text-primary);
  border: 1px solid black;
  border-radius: 2px;
  height: 3.25rem;
  cursor: pointer;
}
